
/* Banner Style */
.banner {
	position: relative;
	text-align: center;
	
}

.banner-item-01 {
	padding: 300px 0px;
	background-image: url(../img/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    
}

.banner-item-02 {
	padding: 300px 0px;
	background-image: url(../img/2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  
}

.banner-item-03 {
	padding: 300px 0px;
	background-image: url(../img/4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  
}

.banner .banner-item {
	max-height: 600px;
}

.banner .text-content {
	position: absolute;
	top: 50%;
    left: 8%;
	transform: translateY(-50%);
	text-align: left;
	width: 60%;
}

.banner .text-content h4 {
	color: #111;
	font-size: 22px;
	
	font-weight: 300;
	margin-bottom: 15px;
    margin-left: 20px;
}

.banner .text-content h2 {
	color: #111;
	font-size: 50px;
	
	
}

.owl-banner .owl-dots .owl-dot {
  border-radius: 3px;
 
}
.owl-banner .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
   
}
.owl-banner .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: rgb(119, 59, 59);
    opacity: 0.5;
}
.owl-banner .owl-dots .owl-dot:focus {
    outline: none
}
.owl-banner .owl-dots .owl-dot.active {
    background-color: rgb(36, 36, 36);
    opacity: 1;
}