/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    width: auto;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif !important;
    text-decoration: none;
    outline: none;
    
    
}
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background-color: #ffffff;
  }
  
  a {
    color: #892CDC;
    text-decoration: none;
  }
  
  a:hover {
    color: #892CDC;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: auto;
    }
  }
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #892CDC;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    /* background: #fff; */
    transition: all 0.5s;
    z-index: 997;
    padding: 25px 0;
    top: 40px;
    background-color: #28262b;
    box-shadow: 25px #222222;
    
  }
  
  #header.header-scrolled {
    top: 0;
    padding: 15px;
  }
  
  #header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #fff;
  }
  
  #header .logo a span {
    color: #c889ff;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      padding: 15px;
      top: 0;
    }
    #header .logo {
      font-size: 28px;
    }
  }
  

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style:none;
  }
  
  .nav-menu > ul {
    display: flex;
    outline: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 28px;
    outline: none;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
    padding: 0 3px;
    font-family: "Open Sans", sans-serif;
  }
  
  .nav-menu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #c889ff;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
    visibility: visible;
    width: 100%;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #c889ff;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 26px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #29262b;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    color: #fff;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #fff;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #c889ff;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #fff;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #29262b;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #c889ff;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(9, 9, 9, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  .search{
    position: relative;
    width: 200px;
    margin: 8px 0px 0 20px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 32px;
    border-radius: 20px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}
.section{
  width: 100%;
  margin: 100px 0 0 50px;
}

.banner .text-content a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #28262b;
  color: #fff;

  margin-top: 30px;
}

.banner .text-content a:hover {
  background-color: transparent;
  color: #28262b;
  border: 1px solid #28262b;
}

.testimonials .section-header{
  text-align: center;
 margin: 20px 0 20px 0;
 background-color: #29262b;
 border-radius: 1px;
}
.testimonials .section-header h1{
text-align: center;
font-size: 40px;
color: #fff;
}
.testimonials .section-header p{
  text-align: center;
 padding: 10px;
  color: #c889ff;
  }

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #fedac0;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #ef6603 !important;
}

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
}


.rs-breadcrumbs {
  background-repeat: no-repeat !important;
  background-size: cover !important;

}
.rs-breadcrumbs .breadcrumbs-inner {
  padding: 140px 0 150px;
 
}
.rs-breadcrumbs .breadcrumbs-inner .page-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;

  margin-left: 10px;
  color: #ffffff;
}
.rs-breadcrumbs .breadcrumbs-inner .page-title h1{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rs-breadcrumbs .breadcrumbs-inner .page-title.new-title {
  margin: 0 auto;
  max-width: 850px;
}
.rs-breadcrumbs .breadcrumbs-inner ul {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rs-breadcrumbs .breadcrumbs-inner ul li {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}
.rs-breadcrumbs .breadcrumbs-inner ul li a {
  position: relative;
  padding-right: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
}
.rs-breadcrumbs .breadcrumbs-inner ul li a:before {
  background-color: #fff;
  height: 15px;
  width: 1px;
  position: absolute;
  right: 9px;
  top: 2px;
  transform: rotate(26deg);
}


